.btn {
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color $animation, background-color $animation, box-shadow $animation;
}

.btn--main {
  padding: 10px 22px;
  min-width: 200px;
  min-height: 50px;

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white-text-color;
  background-color: $accent-color;
  box-shadow: $main-btn-shadow;

  &:hover,
  &:focus {
    background-color: $accent-btn-color;
  }
}

.btn--filter {
  padding: 6px 22px;
  min-width: 72px;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: $title-text-color;
  background-color: $accent-bg-color;
  outline: none;

  &:hover,
  &:focus {
    color: $white-text-color;
    background-color: $accent-color;
    box-shadow: $filter-btn-shadow;
  }
}
