p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.page {
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background-color: $primary-bg-color;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &--feature {
    padding-bottom: 0;
  }

  &--team {
    background-color: $accent-bg-color;
  }
}

.section__heading {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $title-text-color;
}
