p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &--service {
    @media screen and (max-width: $desktop - 1px) {
      display: none;
    }

    @media screen and (min-width: $desktop) {
      padding-top: 0;
    }
  }

  &--team {
    background-color: $accent-bg-color;
  }

  outline: 1px solid tomato;
}

.page {
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background-color: $primary-bg-color;
}

.section__heading {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: $title-text-color;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;

    font-size: 36px;
  }
}
