.logo {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: $accent-color;
}

.logo__text {
  color: $black-logo-color;

  &--inverse {
    color: $white-logo-color;
  }
}
