.page-header {
  position: relative;
  border-bottom: 1px solid $header-border-color;

  &__container {
    display: flex;
  }

  &__logo {
    margin-right: 93px;
  }

  &__list {
    @extend %list;
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;

    color: $primary-text-color;
    fill: currentColor;
  }
}

.site-nav {
  margin-right: auto;

  display: flex;
  align-items: center;

  &__list {
    @extend %list;
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  &--active {
    position: relative;
    color: $accent-color;
  }

  &--active::after {
    content: "";

    position: absolute;
    bottom: -1px;

    width: 100%;
    height: 4px;
    display: block;

    background-color: $accent-color;
    border-radius: 2px;
  }
}

.link {
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $title-text-color;
  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  fill: $title-text-color;
  background-color: transparent;
  transition: fill $animation;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.menu-btn__icon {
  .menu-btn--is-open & {
    display: none;
  }
}

.menu-btn__icon-close {
  display: none;

  .menu-btn--is-open & {
    display: block;
  }
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;

  padding: 48px 40px;
  display: none;

  font-size: 20px;
  background-color: $primary-bg-color;

  &--is-open {
    display: block;
  }
}
