.page-header {
  min-height: 60px;
  border-bottom: 1px solid $header-border-color;
}

// Header Contacts
.page-header__list {
  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }
  @extend %list;
  display: flex;
  align-items: center;
}

// site-nav
.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav__list {
  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }

  @extend %list;
  display: flex;
}

// Mobile Menu
.menu {
  &--is-open {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 480px;
    min-height: 100%;
    padding: 48px 40px;

    font-size: 20px;
    background-color: $primary-bg-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu__btn {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 0;
  padding-right: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  fill: $title-text-color;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: fill $animation;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  &--is-open {
    position: absolute;
    top: 0;
    right: 15px;
  }
}

.menu__icon {
  .menu__btn--is-open & {
    display: none;
  }
}

.menu__icon-close {
  display: none;

  .menu__btn--is-open & {
    display: block;
  }
}

.menu__content {
  display: none;

  .menu--is-open & {
    display: block;
  }
}
