.feature {
  @extend %grid;
}

.feature__item {
  @include gridItem(4);
}

.feature__bg {
  height: 120px;
  margin-bottom: 30px;
  @extend %flexCenter;

  background-color: $accent-bg-color;
  border-radius: 4px;
}

.feature__title {
  @extend %title;
  margin-top: 0;
  margin-bottom: 10px;

  color: $title-text-color;
}
