.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: $hero-bg-color;
  background-image: linear-gradient($hero-overlay, $hero-overlay),
    url("../images/hero-bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-text-color;
  }
}
