%list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

// %grid {
//   @extend %list;
//   display: flex;
//   flex-wrap: wrap;
//   margin: -$grid-item-gap / 2;
// }

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  text-align: center;
}
