%list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

%grid {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-item-gap;
  margin-top: -$grid-item-gap;
}

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%title {
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
}
